<h1><%= I18n.t('views.messages.become_the_leader') %></h1>

<h4><%= I18n.t('views.messages.become_the_leader_to_team', :team => "#{@team}") %></h4>
<h4><%= I18n.t('views.messages.leader_authority_info') %></h4>